:root {
	--primary-color: #16163F;
	--secondary-color: #fff;
	--secondary-color--light: #fff;
	--secondary-color--dark: #fff;
	--bg-color: #fff;
}

*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html{
	font-size: 62.5%; /* 1rem = 10px */
}

body{
	font-family: "Inter", sans-serif;
	font-size: 1.6rem;
	background-color: var(--bg-color);
	color: var(--primary-color);
}